sphinx==1.5.3
sphinx_rtd_theme
gitchangelog
pythonbenchmark
typeguard
sphinx-autodoc-typehints
pyyaml
cython
nose
check-manifest
flake8
pympler
coverage
sphinxcontrib-versioning
munch
numpy

# Module Dependencies
opencv-python-headless
gym==0.10.4
gym[atari]
humanize
tensorboardX
torch
torchvision